<form>

  <form class="conteudo-form">
    <mat-form-field class="mat-form-field " appearance="outline">
      <mat-label>Coloque o código para validarmos.</mat-label>
      <input matInput type="text" [(ngModel)]="codigo" name="codigo" placeholder="Insira o código de validação.">
    </mat-form-field>
  </form>

  <div class="button">
    <button mat-raised-button color="basic" (click)="limpar()">Limpar</button>
    <button mat-raised-button color="primary" (click)="validar()">Validar assinatura</button>
  </div>

  <form class="conteudo-form" *ngIf="saidaNaoEstaVazia()">
    <mat-form-field class="mat-form-field " appearance="outline">
      <mat-label>Retorno.</mat-label>
      <textarea  class="input" matInput #message  [(ngModel)]="retorno" name="retorno" placeholder="<data></data>"></textarea>
    </mat-form-field>
  </form>

</form>
